In [16]:
# remove target variable
# undo other step from preprocess

In [17]:
import pandas as pd
df = pd.read_json("../tm_real_samples.json")

In [18]:
df.head()

,player_id,reason,validity_start,validity_end,first_name,last_name,pseudonym,height,date_of_birth,age,...,coach,coach_id,league_played_matches,league_minutes_played,league_goals,international_played_matches,international_minutes_played,international_goals,missed_matches,target
0,707,"transfer,regular interval",15520.060547,16125.389648,Dimitar,McKenna,,1.830000,3830.252441,31.409935,...,Steve McClaren,40,195.563965,13674.420898,27.195221,44.927650,367.095459,0.0,0.0,0
1,707,"market value update,regular interval",15155.274414,17582.958984,Dimitar,McKenna,,1.847879,3745.278809,31.000000,...,Lucien Favre,36,179.141891,14649.353516,17.264118,50.902073,746.428101,0.0,0.0,0
2,707,new coach,15520.259766,16077.195312,Nikolce,McKenna,Dedê,1.808041,3297.769287,33.000000,...,Lucien Favre,36,151.574066,26889.824219,17.411776,89.855331,988.877197,0.0,0.0,0
3,707,new coach,15338.248047,15798.991211,Mathias,McKenna,,1.836818,3104.758301,29.431749,...,Lucien Favre,36,231.398956,23684.093750,7.597161,28.116394,934.052185,0.0,0.0,0
4,557,injury,15180.578125,17333.892578,Dimitar,McKenna,,1.840000,3197.000000,30.000000,...,Steve McClaren,36,166.645889,19548.814453,24.962931,29.866625,847.276917,0.0,0.0,0

In [19]:
# remove target variable
df.drop('target', axis=1, inplace=True)

In [20]:
# turn days back into dates
import numpy as np
date_cols = ['validity_start', 'validity_end', 'date_of_birth']
for col in date_cols:
        df[col] = pd.to_datetime(np.floor(df[col]), unit='D', origin='1970-01-01').dt.strftime('%Y-%m-%d')

In [21]:
# turn float values to int
float_to_int_cols = ["age", "season_id", "league_played_matches", "league_minutes_played", "league_goals", "international_played_matches", "international_minutes_played", "international_goals", "missed_matches"]
df[float_to_int_cols] = df[float_to_int_cols].apply(np.floor).astype('Int64')

In [22]:
df.head()

,player_id,reason,validity_start,validity_end,first_name,last_name,pseudonym,height,date_of_birth,age,...,international_competition,coach,coach_id,league_played_matches,league_minutes_played,league_goals,international_played_matches,international_minutes_played,international_goals,missed_matches
0,707,"transfer,regular interval",2012-06-29,2014-02-24,Dimitar,McKenna,,1.830000,1980-06-27,31,...,,Steve McClaren,40,195,13674,27,44,367,0,0
1,707,"market value update,regular interval",2011-06-30,2018-02-20,Dimitar,McKenna,,1.847879,1980-04-03,31,...,,Lucien Favre,36,179,14649,17,50,746,0,0
2,707,new coach,2012-06-29,2014-01-07,Nikolce,McKenna,Dedê,1.808041,1979-01-11,33,...,,Lucien Favre,36,151,26889,17,89,988,0,0
3,707,new coach,2011-12-30,2013-04-03,Mathias,McKenna,,1.836818,1978-07-02,29,...,,Lucien Favre,36,231,23684,7,28,934,0,0
4,557,injury,2011-07-25,2017-06-16,Dimitar,McKenna,,1.840000,1978-10-03,30,...,,Steve McClaren,36,166,19548,24,29,847,0,0

In [25]:
# store post proccessed stuff
df.to_json("../tm_postprocessed_excerpt.json", orient="records")